// these colors are essentially random, so they are definitely subject to change!
//make sure the font color contrasts well with the corresponding background color
$bgc1: #313a49;
$bgc2: #45494f;
$bgc3: #030f23;
$fc1: #f7f8f9;
$fc2: #b2b9c4;
$fc3: #c2c3c4;

