header {
    @extend %primary-colors;
    width: 100vw;
    padding: 1rem 0;
    h1 {
        font-size: 2rem;
        text-align: center;
        margin-top: 0;
    }
}

//TODO: fix sidebar text to not wrap during transform
nav {
    width: 100vw;
    height: 4rem;
    overflow: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    @extend %flex-row-nowrap;
    @extend %secondary-colors;
    justify-content: space-between;
    .hamburgerContainer {
        width: 4rem;
        height: 4rem;
        a {
            width: 4rem;
            height: 4rem;
            img {
                width: 4rem;
                height: 4rem;
            }
        }
    }
    .searchArea {
        min-width: 40%;
        max-width: 50%;
        @extend %flex-column-nowrap;
        align-items: center;
        .searchForm {
            @extend %flex-row-nowrap;
            height: 100% !important;
            width: 90%;
            transition: 0.5s;
            input[type="text"] {
                @extend %tertiary-colors;
                border-radius: 10px;
                flex-basis: 5;
                flex-grow: 0;
                width: 80%;
                height: 70%;
                align-self: center;
            }
            button {
                @extend %tertiary-colors;
                flex-basis: 2;
                height: 80%;
                align-self: center;
                border-radius: 10px;
                margin-left: .25rem;
            }
        }
        form {
            width: 100%;
            @extend %flex-row-nowrap;

            input[type="submit"] {
                border-radius: 10px;
                flex-basis: 3;
                flex-grow: 2;
            }
        }
        .searchResults {
            @extend %tertiary-colors;
            @extend %flex-column-nowrap;
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 10000;
            height: 100rem;
            .searchResultHeader {
                font-weight: 200;
                font-size: 1.125rem;
                margin-bottom: .25rem;
            }
            p, a {
                width: 100%;
                color: inherit;
                text-decoration: none;
                padding-top: .685rem;
                padding-bottom: .25rem;
                padding-left: .485rem;
                transition: 0.5s;
            }
            p:hover, a:hover{
                background-color: $bgc2;
                cursor: pointer;
            }
        }
    }
    .invisible {
        width: 64px;
        height: 64px;
    }
}
/*.gluedToTop {
    position: fixed;
    top: 0;
}*/
