header {
    @extend %primary-colors;
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 200px;
    .navImgContainer {
        width: 100%;
        height: 200px;
        background: url('../../img/headerBG.png') no-repeat fixed center;
        background-color: $bgc1;
    }
    h1 {
        position: absolute;
        top: 100px;
        left: 50%;
        font-size: 2.5rem;
        background-color: rgba(49, 58, 73, 0.5);
    }
}
nav {
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    @extend %secondary-colors;
    @extend %flex-row-nowrap;
    .hamburgerContainer {
        margin-top: .5rem;
        margin-left: .5rem;
        align-self: flex-start;
        width: 1.5rem;
        height: 1.5rem;
        a {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            img {
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
            }
        }
    }
    .searchArea {
        align-self: center;
        width: 60%;
        height: 80%;
        margin: 10% 0;
        form {
            input[type="text"] {
                width: 70%;
                height: 100%;
                border-radius: 10px;
                border-color: $fc2;
            }
            input[type="submit"] {
                width: 25%;
                margin-left: 5%;
                height: 100%;
                border-radius: 10px;
                border-color: $fc2;
                transition: 0.5s;
            }
            input[type="submit"]:hover {
                @extend %tertiary-colors;
                border-color: $fc3;
            }
        }
    }
}
.gluedToTop {
    position: static;
    top: 0;
}
