@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Overpass&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset */
.spiritBox a .upperBox, .spiritBox, .main, header {
  background-color: #061d4c;
  color: #c5cffd;
}

footer, nav {
  background-color: #3a506bb9;
  color: #ebebeb;
}

.spiritBox a .spiritImgContainer, .sidebar, nav .searchArea .searchResults {
  background-color: #e4fde1;
  color: #2b2424;
}

.main {
  display: -webkit-box;
  display: ms-flex-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer .fCol, footer, .spiritBox a .lowerBox, .spiritBox a .upperBox, nav .searchArea form, nav {
  display: -webkit-box;
  display: ms-flex-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.spiritBox a .spiritImgContainer, .spiritBox a, .spiritBox, .sidebar, body, nav .searchArea .searchResults, nav .searchArea {
  display: -webkit-box;
  display: ms-flex-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.spiritBox a .lowerBox {
  font-family: "Overpass", sans-serif;
}

.spiritBox a .upperBox {
  font-family: "Kaushan Script", cursive;
}

header {
  width: 100vw;
  padding: 1rem 0;
}
header h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
}

nav {
  width: 100vw;
  height: 4rem;
  overflow: block;
  justify-content: space-between;
}
nav .hamburgerContainer {
  width: 4rem;
  height: 4rem;
}
nav .hamburgerContainer a {
  width: 4rem;
  height: 4rem;
}
nav .hamburgerContainer a img {
  width: 4rem;
  height: 4rem;
}
nav .searchArea {
  min-width: 40%;
  max-width: 50%;
}
nav .searchArea input[type=text] {
  border-radius: 10px;
  flex-basis: 5;
  flex-grow: 0;
}
nav .searchArea form {
  width: 100%;
}
nav .searchArea form input[type=submit] {
  border-radius: 10px;
  flex-basis: 3;
  flex-grow: 2;
}
nav .searchArea .searchResults {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  height: 100rem;
}
nav .searchArea .searchResults .searchResultHeader {
  font-weight: 200;
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
}
nav .searchArea .searchResults p, nav .searchArea .searchResults a {
  width: 100%;
  color: inherit;
  text-decoration: none;
  padding-top: 0.685rem;
  padding-bottom: 0.25rem;
  padding-left: 0.485rem;
  transition: 0.5s;
}
nav .searchArea .searchResults p:hover, nav .searchArea .searchResults a:hover {
  background-color: #3a506bb9;
  cursor: pointer;
}

.gluedToTop {
  position: fixed;
  top: 0;
}

body {
  background-color: #061d4c;
  overflow-x: hidden;
}

.main {
  width: 80vw;
  margin: 10px auto;
  min-height: 800px;
}

.sidebar {
  transition: 0.5s;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  width: 0;
  z-index: 1;
  height: 100vh;
}
.sidebar a {
  color: inherit;
  text-decoration: none;
}
.sidebar .closeBtn {
  position: relative;
  top: 0.5rem;
  left: 10.5rem;
  font-size: 1.5rem;
}
.sidebar .sidebarLink {
  font-size: 1.8rem;
  margin-top: 2.75rem;
  opacity: 0.8;
  transition: 0.5s;
}
.sidebar .sidebarLink:hover {
  opacity: 1;
}
.sidebar .loginArea {
  position: absolute;
  bottom: 0.75rem;
  width: 100%;
}
.sidebar .adminSeperator {
  margin-top: 3rem;
}
.sidebar #remainingSpirits {
  margin-top: 1rem;
}

.spiritBox {
  border: 0.35rem solid #62929e;
  border-radius: 5px;
  height: 13.25rem;
  width: 8.5rem;
  margin: 0.75rem 1.5rem;
}
.spiritBox a {
  height: 100%;
  width: 100%;
  color: inherit;
  text-decoration: none;
}
.spiritBox a .spiritImgContainer {
  align-self: center;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 0.25rem;
  width: 95%;
  height: 70%;
  overflow: hidden;
}
.spiritBox a .spiritImgContainer img {
  max-height: 100%;
  height: auto;
  width: auto;
  padding: 0.25rem;
}
.spiritBox a .upperBox {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.spiritBox a .upperBox img {
  width: 1.75rem;
  height: 1.75rem;
}
.spiritBox a .upperBox .other {
  width: 25%;
  height: 25%;
  margin: auto 0.25rem;
}
.spiritBox a .upperBox .mgs {
  height: 1.75rem;
  width: auto;
}
.spiritBox a .upperBox img, .spiritBox a .upperBox p {
  margin: 0.25rem;
}
.spiritBox a .upperBox p {
  font-size: 1.5rem;
  font-weight: 200;
}
.spiritBox a .lowerBox {
  font-size: 1rem;
  overflow: inherit;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  height: 9.375rem;
}
footer .fCol {
  flex-grow: 1;
}
footer .fCol .fSCol {
  font-size: 0.75rem;
}
footer .fCol .fSCol a {
  color: #2b2424;
  text-decoration: none;
  display: inline;
}

/*# sourceMappingURL=index.css.map */
