// these colors are essentially random, so they are definitely subject to change!
//make sure the font color contrasts well with the corresponding background color
$bgc1: #061d4c;
$bgc2: #3a506bb9;
$bgc3: #e4fde1;
$fc1: #c5cffd;
$fc2: #ebebeb;
$fc3: #2b2424;

$bc1: #62929e;